@charset 'utf-8';
/*--- import ---*/
@import 'reset.css';

/*--- css ---*/
#header .inner .search .input.first {
    width: calc(100% - 30px);
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none; 
    padding: 0 20px; 
    float: left; 
    position: relative;

}

.search .first input::placeholder {
    color: #655;
    opacity: 0;
    animation: show 1s;
}

.first h1 {
    font: normal 14px/1 'Roboto';
    color: #000;
    opacity: 1;
    float: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: hide 1s;
}



@keyframes show {
    0% { opacity: 0; }
    99.9% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes hide {
    0% { opacity: 1; }
    99.9% { opacity: 0; }
    100% { opacity: 0; }
}

